@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');

/* reset some browser default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --primary: #1d8cf8;
    --secondary: #4f537b;
    --info: #11cdef;
    --success: #00bf9a;
    --warning: #ff8d72;
    --danger: #fd5d93;
    
    --body-bg: #1e1e2f;
    --timeline-before-bg: #222a42;
    --timeline-body-bg: #27293d;
    --timeline-body-round: 3px;
    --timeline-body-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
}

body {
    font-family: 'K2D', sans-serif;
    background: var(--body-bg);
    letter-spacing: 1px;
}

/* page container */
.container {
    max-width: 650px;
    margin: 50px auto;
}

/* typography */
p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
}

/* timeline style */
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--timeline-body-bg);
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: var(--secondary);
}

.timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline-body {
    background: var(--timeline-body-bg);
    border-radius: var(--timeline-body-round);
    padding: 20px 20px 15px;
    box-shadow: var(--timeline-body-shadow);
}

.timeline-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}

.timeline-title {
    margin-bottom: 1.4rem;
}

.timeline-title .badge {
    background: var(--secondary);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    font-size: 11px;
}

/* Primary Timeline */
.timeline.primary .badge,
.timeline.primary .timeline-icon {
    background: var(--primary) !important;
}

/* Info Timeline */
.timeline.info .badge,
.timeline.info .timeline-icon {
    background: var(--info) !important;
}

/* Success Timeline */
.timeline.success .badge,
.timeline.success .timeline-icon {
    background: var(--success) !important;
}

/* Warning Timeline */
.timeline.warning .badge,
.timeline.warning .timeline-icon {
    background: var(--warning) !important;
}

/* Danger Timeline */
.timeline.danger .badge,
.timeline.danger .timeline-icon {
    background: var(--danger) !important;
}

.author {
    font-family: inherit;
    padding: 3em;
    text-align: center;
    width: 100%;
    color: white;
}

.author a:link,
.author a:visited {
    color: white;
}

.author a:hover {
    text-decoration: none;
}

.author .btn:link,
.author .btn:visited {
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-weight: 100;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: black;
    padding: 1.5em 2rem;
    border-radius: 1em;
    transition: .5s all;
}

.author .btn:hover,
.author .btn:focus,
.author .btn:active {
    background-color: lighten(black, 10%);
}
